.sidebar {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    &__header {
        height: 80px;
        padding: 20px;
        font-size: 25px;
        color: #c9cac1;
        background-color: #33333a;
        text-align: center;
        border-width: 3px;
        border-style: solid;
        border-image: linear-gradient(270deg, green, transparent) 0 1 100% 0;
        &:hover {
            text-decoration: none !important;
        }
    }
    &__container {
        position: relative;
        z-index: 11;
        width: 300px;
        height: 100vh;
        background-color: #ececea;
        border-right: 3px solid #515153;
        box-shadow: 0 0 150px #000;
        overflow: auto;
        -webkit-animation: transl 0.3s;
        animation: transl 0.3s;
    }
    &__productitem {
        display: block;
        padding: 15px;
        font-size: 15px;
        font-weight: 700;
        color: #242121 !important;
        text-align: center;
        text-decoration: none !important;
        &:hover {
            cursor: pointer;
            background-color: #cbd2ae;
        }
    }
    &__rightside {
        width: calc(100% - 300px);
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6) !important;
        right: 0;
    }
}
